label{
	color:#ffffff;
	padding-right:0.5em;
}
div.in-container{
	margin-top:1em;
	margin-bottom:1em;	
}
div.checkbox-container{
	display:inline-block;
}
div.button-container{
	display:block;
	text-align:center;
}
#datetime{
	width:100%;
	padding: 0.3em;
	border-style:none;
	border-radius:2px;
}
#duration{
	width:20%;
	border-style:none;
	border-radius:2px;
}
#query-btn{
	width:100%;
	text-align:center;
	font-weight:bold;
	padding:0.3em;
	border-style:none;
	border-radius:5px;
}
